// Fonts
$avenir-book: 'Avenir LT W02_45 Book', sans-serif;
$avenir-roma: 'PMNCaeciliaW02-55Roman', sans-serif;
$avenir-medium: 'Avenir LT W02_65 Medium', sans-serif;
$avenir-heavy: 'Avenir LT W02_85 Heavy', sans-serif;
$avenir-roman: 'PMNCaeciliaW02-55Roman', sans-serif;
$avenir-bold: 'PMNCaeciliaW02-75Bold', sans-serif;

// Colors
$background: #ebebeb;
$text: #595959;

$alpha: #c70000;
$beta: blue;

$vertical-padding: 40px 0;