footer {
  width: 100%;
  float: left;
  color: $text;
  .footer-help {
  	background-color: $background;
  	width: 100%;
  	float: left;
  	padding: 40px 0;
  	text-align: center;
  }
  .footer-menu {
  	margin: 40px 0;
  	width: 100%;
  	float: left;
	  ul {
	  	float: left;
	  	margin: 0 0 0 10px;
	  	padding: 0 0 0 10px;
	  	list-style: none;
	  	border-left: 1px solid $alpha;
	  }
	  a {
	  	color: $text;
	  }

  }
  .footer-copyright {
	 width: 100%;
	 float: left;
  	 font-size: 12px;
  }

}